@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 공통 CSS START */
* {
	margin: 0 auto;
	padding: 0 auto;
    box-sizing: border-box;
	font-family: 'Nanum Gothic', sans-serif;
}

div {
	list-style-type: none;
}

li {
	list-style-type: none;
}

a:link, a:visited{
    color: black;
}

ol,ul{
    list-style: none;
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
    min-width: 1400px;
}

body{
    /* width: 1920px; */
    height: 100%;
    margin: 0;
}

.full{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

/*여기수정 마지막줄에 있던거 뺌*/
a{
    cursor: pointer;
    text-decoration: none; 
}
/*네비바 다른걸로 바꿨음, 아래있던 탐색창이랑 마이페이지작은창(arrowbox)지움*/
/* 네비게이션바 CSS START */


.logo {
    width: 180px;
    height: 50px;
    padding-top: 10px;
}

#nav3-1-logo {
	display: block;
	cursor: pointer;
	padding: 0px;
}
.navbar{
    flex: 0 0 auto;
    height: 60px;
    background-color: rgb(28, 28, 28);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.nav-con{
    position: relative;
    width: 1300px;
    margin: 0px auto;
    padding: 0px 20px;
}

.nv{
    float: left;
    position: relative;
    margin: 0px;
	width: 100%;
}

.nv-st{
    float: left;
    padding: 0px;
    margin: 0px;
    list-style: none;
    white-space: nowrap;
	width: 100%;
    list-style:none;
    margin:0;
    padding:0;
}

.nv-st>li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
	list-style-type: none;
}
 
.nv-st::after{
    clear: both;
    content: "";
    display: block;
}

.nv-home{
    padding-right: 0px;
    padding-left: 0px;
    color: white;
    padding: 1.2rem 1.6rem 1.6rem;
    display: block;
    font-size: 20px;
    line-height: 1.45;
}

#nav3-2-announcement,
#nav3-3-humanresource,
#nav3-4-applicant_status,
#nav3-5-companyinfo,
#nav3-7-account{
    /* 링크 밑줄 제거 */
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    padding:20px;
}
#nav3-1-blank{

    /* 링크 밑줄 제거 */
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    padding:20px;
}

#nav3-6-ProfileName{
	/* background-color: white; */
	/* 링크 밑줄 제거 */
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
	color: #525252;
	padding-left: 0px;
	padding-right: 0px;
	display: inline-block;
	padding: 20px;
    width: 68px;
    height: 59px;
}

.user{
    padding: 6px 0px 0px;
    position: relative;
    float: right;
}

.u-name{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}


.log-btn{
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 0px;
    background: transparent;
    height: 3.6rem;
}

.select-ic{
    margin: 0px 1rem;
    transition: transform 0.2s ease 0s;
    display: inline-block;
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.select-ic::before{
    content:url(images/337-ctrl.png);
}

.home-btn{
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 13px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
	margin-top: 8px;
}

/* 네비 끝 */

/*마이페이지박스*/
.arrow_box {
	width: 110px;
    /*height수정*/
	height: 110px;
	text-align: center;
	position: absolute;
	background: #ffffff;
	border: 4px solid rgb(162, 162, 162);
    line-height: 5px;
	display: none;
	z-index: 9999999;
    top: 67px;
    right: 125px;
    /* vertical-align: middle; */
}

.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;z-index: 10000;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;z-index: 10000;
}

.arrow_box:before {
	border-color: rgba(96, 185, 245, 0);
	border-bottom-color: rgb(162, 162, 162);
	border-width: 21px;
	margin-left: -21px;z-index: 1000000;
}

.logout{
	width: 100%;
	height: 30px;
}

.servicecenter{
    height: 40px;
    padding-top: 20px;
    margin-top: -10px;
}

.blank{
	width: 100%;
	height: 20px;
}
.blank1{
	height: 100%;
	width: 50px;
}
.blank2{
	height: 100%;
	width: 25px;
}

/*본문 왼쪽 사이드바*/
.main{
    width: 1400px;
    height: 100%;
}
.sidebar{
    float: left;
    width: 200px;
    height: 260px;
    margin-top: 100px;
    padding-left: 50px;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
}

.setting{ 
    float: left;
    width: 50%;
    height: 260px;
    margin-top: 150px;
    margin-left: 100px;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    padding: 30px;
}

.email{
    width: 600px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
}

.submit{
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 20px;
    /*버튼 배경색변경*/
    background-color: rgb(143, 143, 143);
    float: right;
    cursor: pointer;
}